name: Update iPXE version

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

jobs:
  update-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Get latest version
        run: |
          echo "::set-output name=sha::$(curl -u "u:${{ github.token }}" https://api.github.com/repos/ipxe/ipxe/git/ref/heads/master | jq -r '.object.sha')"
        id: version

      - name: Update version string
        run: |
          sed -Ei 's/(IPXE_REF=)[0-9a-f]{40}/\1${{ steps.version.outputs.sha }}/' .goreleaser.yaml

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: ':arrow_up: Bump ipxe/ipxe'
          body: 'https://github.com/ipxe/ipxe/commits/${{ steps.version.outputs.sha }}'
          commit-message: ':arrow_up: Bump ipxe/ipxe to ${{ steps.version.outputs.sha }}'
          labels: dependencies
          branch: ipxe-version
          token: ${{ secrets.WORKFLOW_PAT }} # needed to modify workflow files
          delete-branch: true
